<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hila's Petition</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
      </head>
        <div id = "bikeImg">
            <img src="/bikeLanes.jpg" alt="Funny Bike Lanes Image">
        </div>

    {{{body}}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="canvasData.js"></script>

    </script>
</html>
