<div id = "addInfo">
    <h1>We'd love to hear some more about you</h1>
        <form method="POST" action="/addInfo">
            <input type = "number" name = "age" placeholder="your age">
            <input type = "text" name = "city" placeholder="where do you live?"  autocapitalize="words">
            <input type = "text" name ="homepage" placeholder="home page URL">

    <button type = "submit" name="continue">CONTINUE</button>
    </form>
        {{error}}
</div>
