<h1>See people of your town who also had the pleasure of signing this thing</h1>

<ul>
    {{#users}}
<li> {{first}} {{last}}, {{age}}</li>


    {{/users}}
</ul>


<a href = "/register">[log out]</a>
