{{#if error}}
<div>you did it wrong</div>
{{/if}}




<h1>sign our petition to make Berlin the bike capital of the world by adding bike lanes</h1>
<form action="/home" method="post">      <!--the database where the form should be sent to-->


        <input type = "hidden" name = "sig" required>
            <div id = signature-pad>
            <canvas id="canvas" width="300" height="100"></canvas>
            </div>
         <button type="submit" value="Submit" id = "submit">SUBMIT</button>



</form>
