<div class="sign-page">

    {{#if error}}
    <p>you did it wrong. Sign again please</p>
    {{/if}}

    <div id = signature-pad>
        <p class="text">please add your signature here</p>
        <form action="/home" method="post">
                    <canvas id="canvas"></canvas>
                    <input type="hidden" name="sig" required>
                    <span class="button"><input type="submit" value="Submit" id="submit">
        </form>
    </div>

</div>
