<div id= "login">

    <form action="/login" method="post">
        <div class="login-container">
            <p class="text login">glad to have you back, dear Biker friend</p>
            <span class="fontawesome-envelope-alt"></span><input type = "text" name = "email" placeholder="email" required>
            <span class="fontawesome-lock"></span><input type = "password" name = "password" placeholder="password" required>
            <span class="button"><input type="submit" value="Submit" id = "submit">


        </div>

            <p>{{err}}</p>
    </form>
</div>
