<p class="text">Register</p>

    <div class="Register">
        <form method="post" action="/users">



            <span class="fontawesome-user"></span><input type="text" name='first' required placeholder="First name">
            <span class="fontawesome-user"></span><input type="text" name='last' required placeholder="Last name">
            <span class="fontawesome-envelope-alt"></span><input type="text" name="email" placeholder="email">
            <span class="fontawesome-lock"></span><input type="password" name="password" id="password" placeholder="Password">
            <span class="button"><input type="submit" value="Submit" id = "submit">
        </form>
    </div>

    <a class= "login-aTag" href="/login">Registered user? log in here</a>



            {{error}}
