<p class="text">Register</p>
<div class="Register">
    <form method="post" action="/users">

        <span class="fontawesome-user"></span><input type="text" required placeholder="User">
        <span class="fontawesome-envelope-alt"></span><input type="text" id="email" placeholder="Email">
        <span class="fontawesome-lock"></span><input type="password" name="password" id="password" placeholder="Password">
        <span class="button"><input type="submit" value="Submit" id = "submit">
    </form>
</div>

    <a class= "login-aTag" href="/login">Registered user? log in here</a>

<!-- <div id = "register">
    <h1>Join us in our endeavors in making Berlin the bike - friendliest city in the world</h1>

    <form action="/users" method="post">
            <div id = "creds">
                <input type= "text" name= "first" placeholder= "First name" requierd>
                <input type= "text" name= "last" placeholder= "Last name" required>
                <input type = "email" name = "email" placeholder="email" required>
                <input type = "password" name = "password" placeholder="password" required>
                <input type="submit" value="Submit" id = "submit">
            </div>


            <a href="/login">registered user? log in here!</a>
            {{error}}



    </form>
</div> -->
