<h1>Thank you for signing our petition and helping us in our endeavor to turn Berlin into the world's friendliest bike city</h1>
<a href = "/thoseWhoSigned">See all {{ num }} who have alerady signed</a>
<div id = "sigImg">
    <img src = "{{ img }}" alt = "signature image">
</div>

<div id = "links">

    <a href = "/editCreds">Edit your profile</a>
    <a href = "/home">Delete your signature</a>

</div>
