<div class="thankYou">




    <div id="sigImg">
        <img src="{{ img }}" alt="signature image">
    </div>

    <div id = "links">
        <a href = "/thoseWhoSigned">See the {{ num }}  who alerady signed |</a>
        <a href = "/editCreds">Edit your profile |</a>
        <a href = "/home">Delete your signature</a>

    </div>
    <p class='text'>Thank you for signing our petition. Biking in Berlin will never be the same</p>

</div>
